.setting-list-item-spectacular-auto-completion {
    display: flex;
    align-items: center;
    padding: 0.75em 0;
}

.setting-item-text-area-spectacular-auto-completion {
    width: 100%;
    resize: vertical;
    padding: 0.5em;
    margin-top: 0.5em;
}

.loader-placeholder-spectacular-auto-completion {
    width: 25px;
    height: 25px;
}
.loader-spectacular-auto-completion {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    animation: rotate-spectacular-auto-completion 1s linear infinite
    }
.loader-spectacular-auto-completion::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid #1976d2;
    animation: prix-clip-fix-spectacular-auto-completion 2s linear infinite ;
}

@keyframes rotate-spectacular-auto-completion {
    100%   {transform: rotate(360deg)}
}

@keyframes prix-clip-fix-spectacular-auto-completion {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


.nav-folder-title-content.spectacular-sync-indicator::after {
  content: '●';
  font-size: 10px;
  color: var(--text-muted);
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle; 
  opacity: 0.6;
}

.nav-folder-title-content.spectacular-sync-indicator-synced::after {
  content: '●';
  color: var(--color-green);
  opacity: 1.0;
}

.nav-folder-title-content.spectacular-sync-indicator-syncing::after {
    content: '●';
    color: var(--color-blue);
    opacity: 1.0;
    animation: spectacular-spin 1.5s linear infinite;
}

.nav-folder-title-content.spectacular-sync-indicator-error::after {
    content: '●';
    color: var(--color-red);
    opacity: 1.0;
}


@keyframes spectacular-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cm-spectacular-suggestion {
  color: var(--text-muted);
  opacity: 0.6;
  font-style: italic;
	user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}